@import '../../sass/breakpoints';

.todo-list {
    width: 85%;
    margin: 20px 0 15px 0;
    z-index: 100;
    background-color: var(--second-background);
    border-radius: 5px;
    font-size: 11px;
    box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.25);

    @include tablet {
        width: 60%;
        font-size: 13px;
    }

    @include laptop {
        width: 40%;
        font-size: 14px;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        color: var(--second-font-color);
        padding: 20px 15px;
        font-weight: 700;

        @include laptop {
            padding: 15px 15px;
        }
    }

    &__clear {
        font-size: 11px;
        font-weight: 700;
        color: var(--second-font-color);
        background-color: transparent;
        border: none;
        font-family: var(--main-font);
        cursor: pointer;

        @include tablet {
            font-size: 13px;
        }

        @include tablet {
            font-size: 11px;
        }

        &:hover {
            color: var(--main-font-color);
        }
    }

    &__message {
        margin: 0;
        padding: 20px;
        color: var(--main-font-color);
        border-bottom: solid 1px var(--line-color);
    }

    &__container {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}