@import '../../sass/breakpoints';

.header {
    width: 85%;
    color: var(--main-font-color-hover);
    z-index: 100;

    @include tablet {
        width: 60%;
    }

    @include laptop {
        width: 40%;
    }

    &::before {
        display: block;
        content: '';
        width: 100vw;
        height: 200px;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -10;
    }

    &--dark {
        &::before {
            background-image: url('../../assets/bg-mobile-dark.jpg');

            @include tablet {
                background-image: url('../../assets/bg-desktop-dark.jpg');
                height: 220px;
            }

            @include laptop {
                height: 250px;
            }
        }
    }

    &--light {
        &::before {
            background-image: url('../../assets/bg-mobile-light.jpg');

            @include tablet {
                background-image: url('../../assets/bg-desktop-light.jpg');
                height: 220px;
            }

            @include laptop {
                height: 250px;
            }
        }
    }

    &__title {
        margin-top: 50px;
        margin-bottom: 23px;
        letter-spacing: 10px;
        font-weight: 700;
        width: auto;

        @include tablet {
            margin-top: 60px;
        }

        @include laptop {
            font-size: 35px;
            letter-spacing: 12px;
            margin-bottom: 30px;
        }
    }

    &__top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__icon {
        margin-top: 15px;
        cursor: pointer;
    }

    &__input-container {
        background-color: var(--second-background);
        border-radius: 5px;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.4);

        @include tablet {
            padding: 12px 15px;
        }
    }

    &__input {
        width: 90%;
        height: 25px;
        padding: 0;
        margin-left: 10px;
        background-color: transparent;
        border: none;
        font-size: 13px;
        font-family: var(--main-font);
        font-weight: 400;
        outline: none;
        color: var(--main-font-color);
        caret-color: var(--bright-blue);
        vertical-align: middle;

        @include laptop {
            font-size: 15px;
            height: 27px;
        }

        &::placeholder {
            color: var(--second-font-color);
        }
    }
}